footer{
    background-color:rgb(21, 61, 75);
    @extend %flex;
    ul{
        @extend %flex;
        column-gap: 1rem;
        
        li{
            padding: $paddingSpace 0;
            a{
                color: white;
                font-size: 1rem;
             
            }
        }
     
      
    }
}